.footer {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  margin-top: 10vh;
  background-color: #c6ebc9;
  color: #777;
  a {
    border: none;
    font-weight: bold;
  }
  .icons{
    fill: #aa8976;
    margin: 1rem;
    
  }
  .icons:hover {
    fill: #aa8976af; 
  }
}